
* {
    box-sizing: border-box;
}
div {
    display: block;
}

.pre-footer {
    background-color: #f1f2f2;
}

.pre-footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height:10vh;
    min-height: 75px;
}

footer {
    background-color: #6a625c;
}
.inner-footer{
    padding: 64px 32px;
    box-sizing: border-box;
    text-align: center;
}

.site-info{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255,255,255,.9);
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    white-space: pre-wrap;
}

a {
    text-decoration: none;
    color: rgba(255,255,255,.9);
}

a:hover {
    text-decoration: underline;
}

.site-email {
    padding-left: 10px;
    word-wrap: break-word;
}

@media (max-width: 600px) {
    .site-email{
        padding-left: 0;
        display: block;
    }
}

