* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #002452;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 8px 8px #fabd05;
  border-bottom: 1.5px solid #fabd05;
  width: 100%;
}

.navbar-logo {
  margin-right: auto;
  padding-left: 35px;
  
}

.navbar-logo img {
  width: 100%;
  max-height: 120px;
  object-fit: contain;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  align-items: center;
}
nav ul{
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1em;
    
}

nav li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}

nav li:last-child {
    margin-right: 40px; 
}

nav li:last-child {
    border: 2px solid #fabd0f;
    color:white;
    padding: 10px 20px;
    border-radius: 2px;

}

nav a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease 0s;
}

nav a:hover {
  color: #fabd0f;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #fabd0f;
  margin: 5px;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #002452;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 60px;
  }

  .navbar-links li {
    margin: 20px 0;
  }

  .navbar-links li:last-child {
    margin-right: 0;
  }
}

.navbar-container.open{
  display: flex;
}